<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steganography</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="container1">
        Image
        <div class="stack" style="--stacks: 3">
          <span style="--index: 0">DECODE</span>
          <span style="--index: 1">DECODE</span>
          <span style="--index: 2">DECODE</span>
        </div>
        <span class="right">Encode</span>
      </div>
      <div class="card">
        <h2>Hide Message</h2>
        <form action="/hide" method="post" enctype="multipart/form-data">
          <input type="file" name="image" accept="image/*" required />
          <input
            type="text"
            name="message"
            placeholder="Enter message"
            required
          />
          <button type="submit">Hide Message</button>
        </form>
      </div>
      <div class="card">
        <h2>Decode Image</h2>
        <form action="/decode" method="post" enctype="multipart/form-data">
          <input type="file" name="image" accept="image/*" required />
          <button type="submit">Decode Image</button>
          <div id="error-section"></div>
        </form>
      </div>
    </div>

    <script>
      // Function to display error messages
      function displayError(message) {
        var errorSection = document.getElementById("error-section");
        errorSection.innerText = message;
      }

      // Check if error message is present in the URL query parameters
      const urlParams = new URLSearchParams(window.location.search);
      const errorMessage = urlParams.get("error");

      if (errorMessage) {
        displayError(errorMessage);
      }
    </script>
  </body>
</html>
